body{
    background-color: darkolivegreen;
}

h2{
    color: yellow
}

p{
    color: 
}

#subForm{
    background-color:
}

#pass1,#pass3{
    background-color: rgb(145, 144, 77);
}
#pass2{
    background-color:rgb(176, 175, 91);
}

.box{
    background-color:
}