body{
    background-color: darkred
}

h2{
    color: gold
}

p{
    color: 
}

#subForm{
    background-color:
}

#pass1,#pass3{
    background-color: rgb(199, 28, 28);
}
#pass2{
    background-color:rgb(222, 31, 31)
}

.box{
    background-color:
}